.App {
  text-align: center; /* Center aligns all content in the main app container */
  padding-top: 50px; /* Adds some space at the top of the app */
}
button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px; 
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


p {
  color: #333;
  margin-top: 20px;
}
